<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Songs</title>
    </head>
    <body>
        <h1>Songs</h1>
        <table>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Duration</th>
                <th>Released Year</th>
                <th>Country Origin</th>
                <th>Play That Song!</th>
            </tr>
            <% data.forEach((el) => { %>
                <tr>
                    <td><%= el.title %></td>
                    <td><%= el.artist %></td>
                    <td><%= el.getDuration() %></td>
                    <td><%= el.released_year %></td>
                    <td><%= el.Country.name %></td>
                    <td><iframe src="<%= el.embeddedCodeURL %>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
                </tr>
            <% }) %>
        </table>
    </body>
</html>